body {
  text-align: center;
  background-image: url("Images/game-start.jpg");
  background-size: center;
  background-repeat: no-repeat;
  background-position: center center
}

h1 {
  /* Title */
  color: white;
  font-family: "CustomFont", sans-serif;
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

#word-container {
  color: black;
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
  margin: 20px auto;
  letter-spacing: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}


#word {
  font-size: 50px;
  font-weight: bold;
  font-family: "CustomFont", sans-serif;
}

#guess-container {
  /* Container for guess input */
  color: blue;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  font-family: "CustomFont", sans-serif;
  margin: 20px auto;
  text-transform: fullsize;
  font-weight: bold;
  background-color: rgba(150, 150, 150, 0.8);
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}

#message {
  font-size: 18px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  /* Outline effect */
  color: yellow;
  font-weight: bold;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.7);
  width: 220px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

#wrong-guess {
  color: red;
  font-family: "CustomFont", sans-serif;
  margin: 20px auto;
  font-weight: bold;
  text-align: auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}

#submit {
  background-color: red; 
  border: none; 
  color: white; 
  padding: 5px 5px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 4px; 
}

#reset-word {
  background-color: blue; 
  border: none; 
  color: white; 
  padding: 5px 5px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 4px; 
}


#reset-game {
  background-color: green; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 4px; 
}